.full-screen,.close, .audio__repeat{
    cursor: pointer;
    opacity: .5;
    &:hover{
        opacity: 1;
    }
}

.full-screen{
    background-image: url(../assets/images/fullscreen.svg);
    background-size: contain;
    height: 36px;
    width: 36px;
}

.close{
    background-image: url(../assets/images/close.svg);
    background-size: contain;
    height: 20px;
    width: 20px;
}

.audio__repeat{
 height: 100px;
}

.options{
    height: 40px;
    width: 220px;
}

.life{
    display: flex;
    &-pic{
    background-image: url(../assets/images/heart.svg);
    background-size: cover;
    height: 20px;
    width: 23px;
    margin-right: 5px;
}
}

.main_audio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.main_bg{
    background-color: #7b7d2f;
}

.key__tips {
    text-align: center;

    & p {
        margin: 0;

        & span {
            margin-right: 20px;
        }
    }
}

.true_ask, .true_ask:hover{
    background-color: green;
    transition: transform .3s;
    transform: scale(1.5);
}
.false_ask, .false_ask:hover{
    background-color: red;
    transition: transform .3s;
    transform: scale(1.5);
}