
a{
    text-decoration: none;
}

// добавила невозможность выделения текста на всех элемнетах
 html {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 }