.sprint-game {
  background-image: url('../assets/images/speed-bg.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  >.bg-midi-dack {
    background: rgb(201,166,107);
    background: linear-gradient(101deg, rgba(234, 179, 83, 0.85) 0%, rgba(9,79,50,0.4) 100%);
    position: relative;

    .btn-close{
      position: absolute;
      top: 4%;
      right: 2%;
    }
    .sensors-row{
      margin-top: 5%;
      height: 15%;
    }
    .timer-container{
      width: 5vmax;
      height: 5vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      border: .3vmin solid rgb(61, 142, 84);
      border-radius: 50%;
    }
    svg.filled{
      transform: scale(120%);
      &{
        transition: all .4s ease;
      }
      &>g{
      fill: rgb(234, 179, 83);
      stroke: rgb(123, 85, 19);
      }
    }
    .word{
      font-size: 3rem;
    }
    .translation{
      font-size: 2.5rem;
    }
  }
  >.bg-midi-dack.red{
    background: linear-gradient(101deg, rgba(228, 115, 58, 0.85) 0%, rgba(10, 122, 75, 0.4) 100%);
    border: 0.4vmin solid rgba(236, 76, 43, 0.583);
  }
  >.bg-midi-dack.green{
    background: linear-gradient(101deg, rgba(234, 185, 38, 0.889) 0%, rgba(17, 190, 118, 0.4) 100%);
    border: 0.4vmin solid rgba(117, 236, 43, 0.583);
  }
  .count-container{
    width: 8vmax;
    height: 8vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .9vmin solid rgb(61, 142, 84);
    border-radius: 50%;
    animation: animate_grow 1s infinite;
    p {
      animation: animate_grow 1s infinite;
    }
  }
  .bg-midi-results{
    background: rgb(21,21,20);
    background: linear-gradient(69deg, rgba(21,21,20,1) 0%, rgba(27,118,50,1) 28%, rgba(2,128,76,0.9246031176142332) 100%);
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    .btn-close{
      position: absolute;
      top: 4%;
      right: 2%;
    }
    .result-rank-right, .result-rank-wrong{
      width: 5vmax;
      height: 5vmax;    
      border-radius: 50%;
    }
    .result-rank-right{
      border: .4vmin solid rgb(61, 142, 84);
      background-color: rgb(61, 142, 84);
    }
    .result-rank-wrong{
      border: .4vmin solid rgb(142, 71, 61);
      background-color: rgb(142, 71, 61);
    }
    .result-box-right{
      >svg>g{
        fill: rgb(135, 205, 155);
      }
      >svg:hover{
        transform: scale(105%);
        >g{
        fill: rgb(78, 149, 98);
        }
      }
      >svg:active{
        transform: scale(95%);
      }
    }
    .result-box-wrong{
      >svg>g{
        fill: rgb(205, 155, 135);
      }
      >svg:hover{
        transform: scale(105%);
        >g{
        fill: rgb(149, 104, 78);
        }
      }
      >svg:active{
        transform: scale(95%);
      }
    }
  }
}